{{ COMMON_LOG_DIR }}/tracking/tracking.log {
  compress
  create
  dateext
  dateformat -%Y%m%d-%s
  missingok
  nodelaycompress
  notifempty
  rotate 16000
  size 1M
  postrotate
    /usr/bin/killall -HUP rsyslogd
    {% if COMMON_AWS_SYNC -%}
    {{ aws_s3_sync_script }} -d "{{ COMMON_LOG_DIR }}/tracking/*" -b "edx-{{ COMMON_ENVIRONMENT }}-{{ COMMON_DEPLOYMENT }}/logs/tracking"
    {% endif -%}
  endscript
}
